.max-w-4xl {
  max-width: 50rem;
}
.card-gradient {
  //   background: linear-gradient(135deg, #4caf50 0%, #a8862c 50%, #f57c00 100%);
  --tw-gradient-to: hsl(var(--accent) / 0.05);
  border-radius: 1rem;
  padding: 2rem;
  color: white; /* make content readable */
}

.card-gradient {
  max-width: 65rem;
  border-radius: 1rem;
  padding: 2rem;

  color: white;

  background: linear-gradient(
      135deg,
      var(--gradient-from) 0%,
      var(--gradient-via) 50%,
      var(--gradient-to) 100%
    ),
    #000000;
}
.text-gradient {
  background: linear-gradient(
    135deg,
    hsl(142, 86%, 35%) 0%,
    /* Green for "Learning" */ hsl(142 86% 53%/ 0.5),
    hsl(24 95% 60%/ 0.5) /* Yellow for "Journey" */
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;

  /* Fallback for unsupported browsers */
  background-color: hsl(142, 86%, 35%);
}

.text-gred {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
  font-family: Playfair Display, serif;
}
.p-gred {
  color: var(--color);
}
.bg-background {
  background-color: var(--background) !important;
}


.main {
  margin-top: 30px;
}

.bg-card {
  background-color: var(--card-color) !important;
}

.green-baground {
  background-color: var(--primary-bg) !important;
}

.accent-color {
  background-color: var(--accent-bg) !important;
}
.text-brand-accent {
  color: var(--accent);
}
.text-brand-primary {
  color: var(--brand-primary);
}
.title-post {
  color: var(--text-primary);
}
.text-muted {
  color: var(--muted) !important;
}
.scroll {
  overflow: hidden;
}

