.sidebar {
 width: 16rem;
  height: 100%;
  border-right: 1px solid hsl(var(--sidebar-border));
}
.contain {
  height: 100vh;
  .flex.flex-1.header-container {
    width:calc(100% - 16rem);
    background: var(--background-color);
    //    border-top: 1px solid hsl(var(--sidebar-border));
  }
//   .header {
//     width: 53px;
//   }
//   .flex-1.p-4.overflow-auto {
//     height: 90vh;
//     border-top: 1px solid hsl(var(--sidebar-border));
//   }
}
