<div>
  <div class="dropdown-menu show p-2 shadow border rounded bg-card"
    style="position: absolute; right: 0; top: 100%; min-width: 180px; font-size: 0.875rem; z-index: 1000; background-color: white;"
    *ngIf="isAuthenticated">
    <ng-container *ngIf="isOwner">
      <button class="drop py-2 text-muted" (click)="onEdit()">Edit</button>

      <button id="delete" class="drop py-2 text-muted" (click)="actionTypeHandle()">Delete</button>

      <app-ban-popup *ngIf="showBanPopup" [isVisible]="showBanPopup" [actionType]="actionType()" [targetId]="targetId()"
        (close)="showBanPopup = false">
      </app-ban-popup>

    </ng-container>


    <button id="report" *ngIf="!isOwner" class="drop py-2 text-danger text-muted" (click)="report()">Report
      story...</button>
  </div>
</div>
<app-pop-up-report [showpPopUp]="isVisible" [post]="post" [comment]="comment">
</app-pop-up-report>