<div class="dropdown-menu show p-2 shadow border rounded bg-card"
     style="position: absolute; right: 0; top: 100%; min-width: 180px; font-size: 0.875rem; z-index: 1000; background-color: white;"
     
     *ngIf="isAuthenticated"
     >
  <!-- <div class="dropdown-divider my-1 text-muted"></div> -->
  <ng-container *ngIf="isOwner" >
  <button class="drop py-2 text-muted" (click)="onEdit()" >Edit</button>
  <button class="drop py-2 text-muted" (click)="onDelete()">Delete</button>
</ng-container>
  <!-- <div class="dropdown-divider my-1"></div> -->

  <button class="drop py-2 text-danger text-muted" >Report story...</button>
</div>
