<section class="col-12" id="comments">

    <div class="card bg-card text-card-foreground shadow-sm ">
        <div class=" p-4">
            <div class="d-flex align-items-start gap-3">
                <!-- <img class="rounded-circle flex-shrink-0" [src]="(post.avatar_user || 'apiUrl')" width="40" height="40"> -->
                <div class="w-100">
                    <textarea class="form-control border rounded-3 textarea " rows="4"
                        placeholder="What are your thoughts?" [(ngModel)]="content"></textarea>
                    <div class="d-flex justify-content-end mt-3">
                        <button class="btn  btn-sm d-flex align-items-center  btn-enabled "
                            (click)="submitComment(post.id)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="me-2">
                                <path
                                    d="M14.536 21.686a.5.5 0 0 0 .937-.024l6.5-19a.496.496 0 0 0-.635-.635l-19 6.5a.5.5 0 0 0-.024.937l7.93 3.18a2 2 0 0 1 1.112 1.11z">
                                </path>
                                <path d="m21.854 2.147-10.94 10.939"></path>
                            </svg>
                            {{!isEdit?"Post Comment": "edit Post"}}
                            <!-- Post Comment -->
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-3">
        <div class="col-12">
            <h2 class="fs-2 fw-bold font-playfair">Comments (2)</h2>
        </div>

        <!-- Comments List -->
        <div class="col-12">
            <div class="row g-3">
                <!-- Comment 1 -->
                <div class="col-12" *ngFor="let comment of getAllComment">

                    <div class="card bg-card text-card-foreground shadow-sm">
                        <div class="card-body p-4">
                            <div class="d-flex gap-3">

                                <!--  -->

                                <div class="flex-grow-1">
                                    <div>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="d-flex align-items-center gap-3">
                                                <div class="rounded-circle overflow-hidden"
                                                    style="width: 48px; height: 48px;">
                                                    <img class="rounded-circle flex-shrink-0"
                                                        [src]="(comment.avatar || 'apiUrl')" width="40" height="40">

                                                </div>
                                                <div><a class="fw-semibold text-decoration-none hover-text-primary transition-smooth"
                                                        href="/profile/omrharbi">{{comment.firstname }}
                                                        {{comment.lastname }}</a>
                                                    <div
                                                        class="small fw-semibold text-decoration-none  text transition-smooth">
                                                        {{comment.createdAt | timeAgo}} </div>
                                                </div>
                                            </div>

                                            <div class="position-relative d-inline-block">
                                                <button
                                                    class="btn btn-outline-secondary d-inline-flex align-items-center justify-content-center rounded-circle"
                                                    style="width: 40px; height: 40px;" (click)="popUp(comment.id)"><i
                                                        class="material-icons"
                                                        style="font-size: 16px;">more_horiz</i></button>

                                                <ng-container *ngIf="showPopUp[comment.id]">
                                                    <app-pop-up [isOwner]="isOwner" [isComment]="isComment"
                                                        [comment]="comment"></app-pop-up>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>



                                    <p class="text-foreground mb-3 lh-base">{{comment.content }}</p>
                                    <div class="d-flex align-items-center gap-3">
                                        <button [class.liked]="comment.liked" [class.not-liked]="!(comment.liked)"
                                            (click)="toggleLikePost(comment.id, comment)"
                                            class="btn btn-link text-decoration-none p-0 d-flex align-items-center gap-2 like-btn">

                                            <mat-icon [class.liked-icon]="comment.liked"
                                                [class.not-liked-icon]="!(comment.liked)">
                                                {{ comment.liked ? 'favorite' : 'favorite_border' }}
                                            </mat-icon>

                                            <span [ngClass]="{
                                        'liked-text': comment.liked,
                                        'not-liked-text': !comment.liked
                                        }">
                                                {{ comment.likesCount }}
                                            </span>
                                        </button>
                                        <!-- <button
                                            class="btn 
                                                         d-inline-flex align-items-center px-3 py-2 text-muted-foreground hover-text-foreground">Reply</button> -->
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

                <!-- Comment 2 -->

            </div>
        </div>
    </div>
</section>