 /* .login-form-container {
  width: 60vw !important;
}
.email-form {
  gap: 0 !important;
}
.form-input {
  height: 20px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.group-input {
  display: flex !important;
  width: 100% !important;
  justify-content: space-between !important;
  gap: 1rem !important;
}
.group-input .form-group {
  flex: 1;
  margin: 18px;
}
.login-card {
  max-width: 762px !important;
}
.animate-slide-in-right {
  opacity: 0;
  animation: slide-in-left 0.8s ease-out forwards;
}
.animate-slide-in-left {
  opacity: 0;
  animation: slide-in-right 0.6s ease-out forwards;
}
 
@keyframes slide-in-right {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slide-in-left {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
} */
