 
.step-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 0.75rem;
}

/* Step buttons styles */
.step-buttons button {
  /* background-color: var(--brand-primary); */
  color: var(--primary-foreground);
  border: none;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.step-buttons button:hover {
  /* background-color: var(--brand-primary-hover); */
  transform: translateY(-1px);
}

/* Previous button variant */
.step-buttons .prev-btn {
  background-color: var(--border);
  color: var(--foreground-color);
}

.step-buttons .prev-btn:hover {
  background-color: var(--muted-foreground);
}


.btn-enabled {
  background-color: var(--brand-primary);
  cursor: pointer;
}

.btn-enabled:hover {
  background-color: var(--brand-primary-hover);
}

.btn-disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}