<div class="card shadow-sm">

  <!-- Card Header -->
  <div class="card-header d-flex align-items-center justify-content-between">
    <h3 class="h6 fw-semibold mb-0">Content</h3>
  </div>

  <!-- Toolbar -->
  <div class="card-body d-flex flex-wrap gap-1 mb-2">
    <button class="btn btn-sm btn-outline-secondary" (click)="applyFormat('**','**','bold text',$event)">B</button>
    <button class="btn btn-sm btn-outline-secondary"
      (click)="applyFormat('*','*','italic text',$event)"><em>I</em></button>
    <button class="btn btn-sm btn-outline-secondary" (click)="applyFormat('~~','~~','strikethrough',$event)">S</button>
    <button class="btn btn-sm btn-outline-secondary" (click)="applyFormat('`','`','code',$event)">Code</button>
    <button class="btn btn-sm btn-outline-secondary" (click)="applyFormat('## ','','Heading',$event)">H2</button>
    <button class="btn btn-sm btn-outline-secondary"
      (click)="applyFormat('[','](https://)','link text',$event)">Link</button>
    <button class="btn btn-sm btn-outline-secondary" (click)="applyFormat('- ','','list item',$event)">List</button>
    <button class="btn btn-sm btn-outline-secondary" (click)="applyFormat('> ','','quote',$event)">Quote</button>

    <!-- Image Upload -->
    <input type="file" #imageInput style="display:none" (change)="onImageSelected($event)">
    <button class="btn btn-sm btn-outline-secondary" (click)="imageInput.click()" [disabled]="isUploading">
      {{ isUploading ? 'Uploading...' : 'Image' }}
    </button>

    <!-- Video Upload -->
    <!-- <input type="file" #videoInput (change)="onVideoSelected($event)" accept="video/*" style="display: none;" /> -->
    <button class="btn btn-sm btn-outline-secondary" (click)="selectVideo()" [disabled]="isUploading">
      {{ isUploading ? 'Uploading...' : 'Video' }}
    </button>
  </div>

  <!-- Editor-->
  <div class="card-body d-flex flex-column flex-lg-row gap-3">
    <div #textareaRef contenteditable="true" class="form-control flex-fill textarea" (input)="onContentChange()"
      style="min-height: 200px; overflow-y: auto;" placeholder="Write your markdown here...">
    </div>

  </div>
</div>